<ul class="sidebar-nav">
	<li class="sidebar-header">
		Anasayfa
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="index.html">
			<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="pages-profile.html">
			<i class="align-middle" data-feather="user"></i> <span class="align-middle">Sayfayı Düzenle</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" href="pages-profile.html">
			<i class="align-middle" data-feather="user"></i> <span class="align-middle">İletişimleri Düzenle</span>
		</a>
	</li>

	<li class="sidebar-header">
		Hakkımda
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Profil Bilgileri</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Özellikler</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">İlgi Alanları</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Görüşler</span>
		</a>
	</li>
	<li class="sidebar-header">
		Özgeçmiş
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Özet</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Education" asp-action="Index">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Eğitim</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" asp-controller="Experience" asp-action="Index">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Deneyim</span>
		</a>
	</li>

	<li class="sidebar-header">
		Hizmetler
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Hizmetler</span>
		</a>
	</li>

	<li class="sidebar-header">
		Portföy
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Portföy</span>
		</a>
	</li>

	<li class="sidebar-header">
		İletişim
	</li>


	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Gelen Mesajlar</span>
		</a>
	</li>

	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Adres</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Sosyal Medya</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">E-Posta</span>
		</a>
	</li>
	<li class="sidebar-item">
		<a class="sidebar-link" href="ui-buttons.html">
			<i class="align-middle" data-feather="square"></i> <span class="align-middle">Telefon</span>
		</a>
	</li>
</ul>